/* ****** Hide hidden items ****** */
.hidden {
    display: none;
}


/* ****** Wraps Overflow within container ****** */
div#MainZone div.container {
    display: contents;
}


/* *****  Hero Organizer customizations  **** */
div.heroOrganizer.card-deck {
    flex-flow: column;
}

div.heroOrganizer h2.organizerTitle {
    padding-bottom: 4rem;
}

div.heroOrganizer h3.card-title {
    color: #aa0000;
    font-family: Montserrat,sans-serif;
    font-size: 2.4rem;
    font-weight: 450;
    padding: 0;
}

div.heroOrganizer h3.card-title a {
    color: #aa0000;
    font-size: 2.4rem;
    font-weight: 450;
    padding: 0;
}


/* *****  Grid Organizer customizations  **** */
div.gridOrganizerWrapper {
    /* background-color: #f7f7f7; */
    background-color: #e6efff;
    /* opacity: 90%; */
    padding-bottom: 50px;
}

div.gridOrganizer div.titleWrapper {
    width: 100%;
}

div.card-deck div.gridFeedItem.card {
    display: flex;
    flex: 1 0 calc(35% - 10px);
    margin: 15px;
    padding: 0;
}

div.gridFeedItem h3.card-title {
    color: #aa0000;
    font-family: Montserrat,sans-serif;
    font-size: 2rem;
    font-weight: 450;
    padding: 0;
}

div.gridFeedItem h3.card-title a {
    color: #aa0000;
    font-size: 2rem;
    font-weight: 450;
    padding: 0;
}

div.gridFeedItem .card-subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
}

div.gridFeedItem ul li.tag {
    font-size: 1.5rem;
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
}

p.contactInfo {
    font-size: 1.35rem;
    font-weight: 400;
    padding: 0;
}

ul.profileTitles {
    padding-top: 0;
}


/** horizontal rule between articles **/
hr.articleBorderBottom {
    color: #1B1B1B;
    margin-top: 10px;
    margin-bottom: 20px;
}

.standardContent ul li:before {
    content: none;
}

img.card-img-top {
    min-width: -webkit-fill-available;
    padding: 0;
}




/*********************
*
*   Responsive Media Querys
*
**/


/* ***** Mobile Up ***** */

@media screen and (min-width: 576px) {}

@media screen and (min-width: 767.999px) {
    /* If Bootstrap 4 only */
    div.gridOrganizerWrapper {
        padding: 0 50px 50px 50px;
    }

    div.card-deck div.gridFeedItem.card {
        display: flex;
        flex: 1 0 calc(35% - 10px);
        margin: 15px;
        max-width: 260px;
        padding: 0;
    }
}


/* ***** Desktop down ***** */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 767.999px) {
    h2.organizerTitle {
        font-size: 2rem;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }
    div.gridOrganizerWrapper {
        padding: 0 15px 15px 15px;
    }
    div.gridOrganizer.card-deck {
        margin-left: 0;
        margin-right: 30px;
    }
    div.gridOrganizerWrapper h2.organizerTitle {
        padding-left: 5px;
    }
    div.gridFeedItem {
        font-size: 1rem;
        font-weight: 400;
        max-width: 100%;
    }
    div.gridFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    div.heroOrganizer h3.card-title {
        font-size: 2rem;
    }
    div.heroOrganizer h3.card-title a {
        font-size: 2rem;
    }
}